*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width :100%;
    max-width: 1400px;
    display: block;
    margin: auto;
    min-height: 100vh;
    background: #191919;
    font-family: "Fira Code", serif;
}

html{
    scroll-behavior: smooth;
}

a, .btn{
    transition: all 300ms ease;
}

section{
    padding: 180px 150px;
}

#desktop-nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background: #1a1a1a;
    font-family: "Fira Code", serif;
    font-optical-sizing: auto;
    font-weight: 400;
} 

nav, .nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links{
    gap: 2rem;
    list-style: none;
}

a{
    color: blueviolet;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
    color: darkmagenta;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: blueviolet;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;;
}

.menu-links a{
    display: block;
    padding: 100px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3 ease ease-in-out;
}

.menu-links li{
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
}


.link a{
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 30px;
    margin: 0 20px;
    line-height: 80px;
    transition: .5s;
    font-size: 15px;
}

.link a:hover, .link a.active{
    opacity: 1;
}

#home{
    width: 100%;
    height: 100vh;
    padding: 180px 150px;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    position:relative;
}

.home-heading{
    color: #720c7b;
    font-size: 40px;
    font-weight: 300;
    font-family: "Press Start 2P", monospace;
    font-style: normal;
    border-right: 5px solid white;
    width: 74%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(18),
    cursor .10s step-end infinite;
}

/* cursor blinking */
@keyframes cursor{
    50% { border-color: transparent;}
}

/* typing effect */
@keyframes typing {
    from{width: 0 }
}


.home-img {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%); 
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.home-content {
    font-size: 30px;
    font-family: "Fira Code", monospace;
    color: rgb(208, 139, 194);
    margin-top: 6vh;
}

 .highlight{
    color:rgb(152, 14, 106);
    font-size: 45px;
    font-weight: bold;
}

.home-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 5vh;
}


.home-buttons button,
.home-buttons .home-link {
    padding: 10px 20px;
    font-size: 16px;
    font-family: "Fira Code", monospace;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: fuchsia;
    transition: background-color 0.3s ease;
}

.home-buttons .home-link {
    background-color: fuchsia;
}

.home-buttons button:hover,
.home-buttons .home-link:hover {
    background-color:rgb(152, 14, 106)
}

#email-popup {
    position: relative;
    transform: translate(-50%, -50%);
    width: 300px;
    background: fuchsia;
    color: white;
    font-size: 16px;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

#email-popup.hidden {
    display: none;
}

.popup-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup-content input {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: white;
}

.popup-content button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}


#home,
#projects,
#about,
#contact .active{
    position: relative;
    opacity: 1;
    z-index: 8;

}
/* General About Section Styles */
#about {
    width: 100%;
    min-height: 100vh;
    padding: 180px 150px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* About Items (Stacked Layout) */
.about-item {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    margin-top: 30px;
    background-color: #1d1d1d;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

/* About Titles */
.about-title {
    font-size: 30px;
    margin-bottom: 20px;
    color: #ff7db9;
    font-weight: 600;
    text-align: center;
}

/* Education and Experience Info */
.about-info {
    padding: 16px;
    font-size: 16px;
    line-height: 1.6;
    color: #f9f9f9;
    margin-top: 10px;
}

.about-info li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.about-info li:before {
    position: absolute;
    left: 0;
    color: #ff7db9;
    font-weight: bold;
}

/* Education and Experience Group Layout */
.education-group, .experience-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.education-item, .experience-item {
    margin-bottom: 20px;
}

/* Duration and Strong Styling */
.experience-duration {
    font-size: 16px;
    color: #ff7db9;
    margin-bottom: 10px;
    font-style: italic;
    text-align: end;
}

.experience-item strong, .education-item strong {
    font-size: 20px;
    color:#b28b9d
}


#projects{
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 100px;
    position: relative;
    top: 0;
}

.project-heading{
    font-size: 100px;
    font-family: "Fira Code", serif;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    color: #f4f4f4;

}

.project-container{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
}

.project-card{
    height: 600px;
    position: relative;
    background-color: #720c7b;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
}

.project-content{
    position: relative;
    padding: 40px;
    color: #fff;
    opacity: 1;
}

.project-title{
    font-size: 40px;
    text-transform: capitalize;
    font-family: "Fira Code", serif;
    text-align: center;
    font-weight: 200;    
}

.project-info{
    margin: 20px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.project-btn-grp{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.project-btn{
    height: 40px;
    text-transform: capitalize;
    font-size: 18px;
    border-radius: 5px;
    background: #000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.project-btn.live{
    background: none;
    border: 2px solid #fff;
}


.project-card:hover {
    transform: translateY(-10px);
    background-color: #5e0c6b;
    opacity: 1;
}


.heading{
    text-align: center;
    font-size: 60px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 100px;
    font-family: "Fira Code", serif;
}

#contact{
    position: relative;
    top: 0;
    transition: 1s;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    font-family: "Fira Code", monospace;
}

.heading {
    font-size: 2.5rem;         
    color: white;           
    text-align: center;      
    margin-bottom: 20px; 
    font-family: "Press Start 2P", monospace;    
}


.contact-form input, .contact-form textarea{
    width: 100%;
    height: 40px;
    background: blueviolet;
    border: 1px solid #fff;
    margin-bottom: 30px;
    border-radius: 5px;
    text-transform: capitalize;
    color: #fff;
    padding: 5px 10px;
    font-family: "Fira Code", monospace;
}

::placeholder{
    color:rgb(252, 252, 252);
}
#msg{
    height: 50px;
    resize:both;
    font-family: "Fira Code", monospace;
}



.form-submit-btn{
    background:  blueviolet;
    color: #fff;
    text-transform: capitalize;
    padding: 15px 40px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Fira Code", monospace;
}

