*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw !important;
}

body{
    width :100%;
    max-width: none;
    margin: auto;
    min-height: 100vh;
    background: #191919;
    font-family: "Fira Code", serif;
}

html{
    scroll-behavior: smooth;
}

a, .btn{
    transition: all 300ms ease;
}

section{
    min-height: 100vh;
    padding: 8rem 8vw;
    width: 100%;
    position: relative;
}

#desktop-nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background: #191919;
    font-family: "Fira Code", serif;
    font-optical-sizing: auto;
    font-weight: 400;
} 

nav, .nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}

.nav-links{
    gap: 2rem;
    list-style: none;
}


.nav-links.open {
    display: flex;
}


a{
    color: blueviolet;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
    color: darkmagenta;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: blueviolet;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;;
}

.menu-links a{
    display: block;
    padding: 100px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3 ease ease-in-out;
}

.menu-links li{
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
}


.link a{
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 30px;
    margin: 0 20px;
    line-height: 80px;
    transition: .5s;
    font-size: 15px;
}

.link a:hover, .link a.active{
    opacity: 1;
}

.home{
    width: 100%;
    min-height: 100vh;
    padding: 10vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}


.home .home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    max-width: 900px;
}

.home img{
    width:  clamp(150px, 25vw, 250px);
    height: auto;
    border-radius: 50%;
    object-fit: scale-down;
    align-self: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0 ,0.5);
}

.cursor {
    display: inline-block;
    width: 8px;
    height: 2rem;
    background-color: #720c7b;
    animation: blink 0.8s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.info-box{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    gap: 1.5rem;
    max-width: 50%;
}

.home-body{
    font-size: 2rem;
    font-weight: 500;
    opacity: 0.8;
    color: rgb(208, 139, 194);
}

.home-heading{
    color: #720c7b;
    font-size: 2.5rem;
    font-weight: 300;
    font-family: "Press Start 2P", monospace;
    font-style: normal;
    margin-top: 0;
}

.home-img {
    top: 50%;
    right: 8%;
    transform: translateY(-50%); 
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.home-content {
    font-size: 30px;
    font-family: "Fira Code", monospace;
    color: rgb(208, 139, 194);
    margin-top: 6vh;
}

 .highlight{
    color:rgb(152, 14, 106);
    font-size: 45px;
    font-weight: bold;
}

.home-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 5vh;
}

.home-buttons button,
.home-buttons .home-link {
    padding: 10px 20px;
    font-size: 16px;
    font-family: "Fira Code", monospace;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: fuchsia;
    transition: background-color 0.3s ease;
}

.home-buttons .home-link {
    background-color: fuchsia;
}

.home-buttons button:hover,
.home-buttons .home-link:hover {
    background-color:rgb(152, 14, 106)
}

#email-popup {
    position: relative;
    transform: translate(-50%, -50%);
    width: 300px;
    background: fuchsia;
    color: white;
    font-size: 16px;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

#email-popup.hidden {
    display: none;
}

.popup-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup-content input {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: white;
}

.popup-content button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#home,
#projects,
#about,
#contact .active{
    position: relative;
    opacity: 1;
    z-index: 8;

}

#about {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 10vh 8vw;
    position: relative;
    top: 0;
}

.about-item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 20px 20px;
    background-color: #1d1d1d;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.about-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ff7db9;
    font-weight: 600;
    text-align: center;
}

.about-info {
    padding: 10px 5px;
    font-size: 16px;
    line-height: 1.6;
    color: #f9f9f9;
    margin-top: 10px;
}

.about-info li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.about-info li:before {
    position: relative;
    left: 0;
    color: #ff7db9;
    font-weight: bold;
}

.education-group, .experience-group {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
}

.education-item, .experience-item {
    margin-bottom: 20px;
    padding: 2rem;
}

.experience-duration {
    font-size: 16px;
    color: #ff7db9;
    margin-bottom: 10px;
    font-style: italic;
    text-align: end;
}

.experience-item strong, .education-item strong {
    font-size: 20px;
    color:#b28b9d
}


#projects{
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 100px;
    position: relative;
    top: 0;
}

.project-heading{
    font-size: 100px;
    font-family: "Fira Code", serif;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    color: #f4f4f4;

}

.project-container{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px;
    
}

.project-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    flex-grow: 1;
    background-color: #720c7b;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
}

.project-content{
    font-size: 15px;
    padding: 40px;
    color: #fff;
    opacity: 1;
    align-items: center;

}

.project-title{
    font-size: 35px;
    text-transform: capitalize;
    font-family: "Fira Code", serif;
    text-align: center;
    font-weight: 200;    
}

.project-info{
    margin: 20px;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
}

.project-icons{
    display: flex;
    transition: transform 0.3s ease;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.project-icons{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-icons img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(34, 46, 46, 0.7);
}

.project-card:hover {
    transform: translateY(-10px);
    background-color: #5e0c6b;
    opacity: 1;
}


.heading{
    text-align: center;
    font-size: 60px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 100px;
    font-family: "Fira Code", serif;
}

#contact{
    position: relative;
    top: 0;
    transition: 1s;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    font-family: "Fira Code", monospace;
}

.heading {
    font-size: 2.5rem;         
    color: white;           
    text-align: center;      
    margin-bottom: 20px; 
    font-family: "Press Start 2P", monospace;    
}


.contact-form input, .contact-form textarea{
    width: 100%;
    height: 40px;
    background: blueviolet;
    border: 1px solid #fff;
    margin-bottom: 30px;
    border-radius: 5px;
    text-transform: capitalize;
    color: #fff;
    padding: 5px 10px;
    font-family: "Fira Code", monospace;
}

::placeholder{
    color:rgb(252, 252, 252);
}
#msg{
    height: 50px;
    resize:both;
    font-family: "Fira Code", monospace;
}

.form-submit-btn{
    background:  blueviolet;
    color: #fff;
    text-transform: capitalize;
    padding: 15px 40px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Fira Code", monospace;
}

